@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Definir as fontes que vamos usar na nossa App */

@font-face {
  font-family: Agrandir;
  src: url('./content/fonts/Agrandir-Regular.ttf');
}

@font-face {
  font-family: PoppinsB;
  src: url('./content/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: PoppinsM;
  src: url('./content/fonts/Poppins-Medium.ttf');
}

/* Definir variaveis css */
:root {
  --blue: #0d28c2;
  --white: #eeeeee;
}

/* Definir layout geral de todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PoppinsM, sans-serif;
}

body {
  background-color: var(--white);
}

/* Classes gerais */

.font-mybold {
  font-family: PoppinsB, sans-serif;
}

.input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select-text {
  color: rgba(0, 0, 0, 0.8);
  opacity: 0.9;
  font-size: 15px;
}